language: java

addons:
    sonarcloud:
        organization: "blackdread-github"
# Token provided by travis
#        token:
#            secure: ""

#jdk:
#  - oraclejdk8

before_install:
- chmod +x mvnw

after_success:
#- mvn clean test
# - mvn clean test jacoco:report
- mvn clean test jacoco:report coveralls:report
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar


#notifications:
#  email:
#    - yoann.caplain@blackdread.org
